.dart_tool/
.firebase/
.idea/
.vscode/
.DS_Store
build/.DS_Store
assets/.DS_Store
.flutter-plugins
.flutter-plugins-dependencies

/ Firebase configuration files
.firebaserc
lib/firebase_options.dart
firebase.json
firebase-debug.log
